body{
    margin: 0;
    padding: 0;
}

/* Main/Home/ */
.heading{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 147, 233, 0.75);
    height: 3rem;
    align-items: center;
    position: sticky;
}   

.heading h3 a{
    font-size: 1.5rem;
    font-weight: none;
    text-decoration: none;
    color: white;
}

.heading h3{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.heading h3:hover{
    text-decoration: underline white;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(0, 147, 233, 1);
}

.container{
    display: flex;
    justify-content: flex-start;
}

.sidenav {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    height: 100vh; 
    width: 15rem; 
    position: sticky; 
    z-index: 1000; 
    top: 0;
    left: 0;
    background-color: #97D9E1; 
    overflow-x: hidden;
}
.sidenav a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-top: 4rem;
}

.sidenav h4{
    font-size: 1.3rem;
    font-weight: bold;
}

.shopping-content{
    background-color: #FFFDD0;
    padding: 0 2rem;
}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
img{
    height: 50%;
    width: 50%;
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.25);
}

ul{
    list-style-type: none;
}

li p{
    margin: 0 1.5rem;
    padding: 1rem;
}

th{
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin: 0 2rem;
    background-color: #97D9E1 ;
}

.container h3{
    margin-top: 3rem;
    padding-top: 2rem;
}

button{
    height: 2rem;
    width: 6rem;
    background-color: #0093E9 ;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}



/* Shopping Cart Page */

.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-content {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2rem 5rem;
}

/* Spacing for table headers */
.cart-content th {
    padding: 15px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

/* Spacing for table cells */
.cart-content td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Spacing for total row */
.cart-total td {
    font-weight: bold;
}

/* Optional: Adjust table width and margins */
.cart-content {
    margin-top: 20px;
}

.cart-heading {
    margin-bottom: 20px;
}