<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart | Nexus Online Shopping</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="heading">
        <h3><a href="/">Home Page</a></h3>
        <h3><a href="/cart">Shopping Cart</a></h3>
    </header>

    <div class="shopping">
        <h2 class="cart-heading">Shopping Cart</h2>
    </div>
</body>
</html>